<h1 class="main-header main-header--centered">
  About Brycon Carpenter
</h1>

<div class="about__terminal-container">
  <div class="about__terminal">
    <app-terminal [terminalContent]="commands"></app-terminal>
  </div>
  <div class="about__picture">
    <img
      [src]="environment.images.aboutPagePicture.ref"
      [alt]="environment.images.aboutPagePicture.alt"
    />
  </div>
</div>

<app-resume></app-resume>

<article class="about__more-container">
  <h2>
    Just Some More About Me
  </h2>

  <section class="about__more-section">
    <h3>Computer Science Through Gaming</h3>
    <p>
      My experience with computer science really began as a gamer. With my first
      gaming console being the GameBoy Color, I slowly accumulated more and more
      gaming experience, rising up the ladder of consoles (N64, PS2, GBC, DS,
      Xbox 360, PS3, Xbox One). Somewhere along the way I was introduced to PC
      gaming and MMOs. My all time favorite MMO became RuneScape when I started
      playing in 2002.
    </p>

    <p>
      Then when I was around 10 I found RuneScape private servers, copies of
      Runescape servers written in Java that were able to be modified and played
      locally. This is where I first fell in love with programming, being able
      to control my favorite game within lines of code. Of course, starting out
      I had absolutely no idea what I was doing and basically just mimicked the
      existing code structures. Later, I began to understand these structures
      and the language itself, opening the door for the field of Computer
      Science.
    </p>
  </section>

  <section class="about__more-section">
    <h3>Places I've Lived</h3>
    <ul>
      <li>Buchanan, Michigan</li>
      <li>Gastonia, North Carolina</li>
      <li>Thomasville, North Carolina</li>
      <li>Boone, North Carolina</li>
      <li>Philadelphia, Pennsylvania</li>
    </ul>
  </section>

  <section class="about__more-section">
    <h3>Fun Facts</h3>
    <dl>
      <dt>Favorite Movies</dt>
      <dd>
        Dracula (1931), Snow White and the Seven Dwarves, and Dr. Strangelove
      </dd>
      <dt>Favorite Car</dt>
      <dd>
        Dodge Viper
      </dd>
      <dt>Favorite Food</dt>
      <dd>
        Chicken Wings
      </dd>
      <dt>Favorite Video Games</dt>
      <dd>
        Kingdom Hearts, Runescape, Final Fantasy X
      </dd>
      <dt>Favorite Music Styles</dt>
      <dd>
        House, Smooth Jazz, Classic Rock
      </dd>
    </dl>
  </section>
</article>
