.resume {
  margin-top: 40px;
}

.resume_section {
  padding: 5px;
  border-top: 1px solid black;
}

.resume_section-content {
  display: flex;
}

.resume_section-content--2-column div:nth-child(odd) {
  flex: 0 33%;
}

.resume_section-content--2-column div:nth-child(even) {
  flex: 0 66%;
}

.resume_section-content--3-column div {
  flex: 0 33%;
}
