<article class="resume">
  <p>
    The following is an unabridged resume. You can download a shortened resume
    here:
    <a [href]="environment.links.resume" target="_blank"
      ><i class="resume__icon far fa-file-pdf"></i></a
    >.
  </p>
  <section class="resume_section">
    <h2>Education</h2>
    <div class="resume_section-content resume_section-content--3-column">
      <div>
        2013-2017
      </div>
      <div>
        <a href="http://www.appstate.edu/about/">Appalachian State University</a
        ><br />

        Bachelor of Science in Computer Science <br />
        Minor: Film Studies

        <h4>Highlighted Courses</h4>
        <ul>
          <li>Client- and Server-side Web Programming</li>
          <li>Computer Systems I &amp; II</li>
          <li>Cybersecurity Fundamentals</li>
          <li>Linear Algebra</li>
          <li>Software Engineering</li>
          <li>Mobile Device Programming</li>
        </ul>
      </div>
      <div>
        Cumulative GPA: 3.95<br />
        Major GPA: 4.00<br />
      </div>
    </div>
  </section>
  <section class="resume_section">
    <h2>Experience</h2>
    <div class="resume_section-content resume_section-content--2-column">
      <div>
        June 2017 - Present
      </div>
      <div>
        <strong>Application Developer LPP</strong>,
        <a href="https://www.lfg.com">Lincoln Financial Group</a>
        <br />

        <ul>
          <li>
            Completed Lincoln Preparation Program (LPP), a development program
            for high-performing college graduates. The program provided
            opportunities for professional development and networking.
          </li>
          <li>
            Engineered modern, consumer facing applications in a full-stack
            context, using technologies of Angular, Spring MVC and Oracle DB.
            Projects included: Underwriting Calculators web application, Siri
            integration for consumer mobile application, ThreatMetrix fraud
            prevention and security tooling, and public and secure chatbot web
            application
          </li>
          <li>
            Redesigned legacy and monolithic applications to align with
            microservice and REST architecture principles.
          </li>
          <li>
            Drove adoption of DevOps principles as team technical lead and
            volunteered for pilot initiatives to shape a DevOps culture. These
            pilots included: CI/CD with both GitLab and Atlassian tool stacks,
            ATDD, and Cloud development.
          </li>
          <li>
            Championed innovation and pathfinding, by researching, designing,
            and executing a pilot project with Serverless computing on AWS,
            while almost entirety of company is still on-premise.
          </li>
        </ul>
      </div>
    </div>
    <div class="resume_section-content resume_section-content--2-column">
      <div>
        August 2014 - May 2017
      </div>
      <div>
        <strong>ST Instructional Assistant</strong>,
        <a href="http://compsci.appstate.edu/"
          >Appalachian State University Computer Science Department</a
        >
        <br />
        <em
          >Courses: Introduction to Computer Systems, Software Engineering,
          Client-Side Web Programming</em
        >

        <ul>
          <li>
            Collaborated with course professor to refine assignments to best
            represent material and appeal to student learning styles
          </li>
          <li>
            Critiqued student submitted material, and provided examples of
            implemented concepts
          </li>
        </ul>
      </div>
    </div>
    <div class="resume_section-content resume_section-content--2-column">
      <div>
        June 2016 - August 2016
      </div>
      <div>
        <strong>Summer Maintenance Team</strong>,
        <a href="http://www.universityhighlands.com/"
          >University Highlands Apartments</a
        >
        <br />
        <ul>
          <li>
            Assisted with the renovation of apartments for the new semester.
          </li>
          <li>
            Learned new skills sets such as plumbing, electrical, and appliance
            maintenance.
          </li>
          <li>
            Perform strongly in the areas of teamwork and time management.
          </li>
          <li>
            Interface with tenants to assist with their individual needs.
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>
