@import 'mixins';

.sortable-table {
  width: 100%;
}

.sortable-table__entry {
  padding: 10px;

  text-align: center;

  @include mobile {
    font-size: 10px;
  }
}

th app-sort {
  margin-left: 5px;
  display: inline-block;
}
