<div class="header__bar">
  <ul class="header__list">
    <div class="header__list-section header__list-section--left">
      <li class="header__list-link">
        <a routerLink="/">Home</a>
      </li>
    </div>
    <div class="header__list-section header__list-section--right">
      <li class="header__list-link">
        <a routerLink="/about" routerLinkActive="router-link-active">About</a>
      </li>
      <li class="header__list-link">
        <a routerLink="/projects">Projects</a>
      </li>
    </div>
  </ul>
</div>
