@import 'color';

.feature-panel {
  display: block;
  height: 200px;
  margin: 10px;

  color: white;
  background-color: $color-primary;
}

.feature-panel__text {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature-panel--image .feature-panel__text {
  visibility: hidden;

  background-color: $color-accent;
  opacity: 0.9;
}

.feature-panel--image .feature-panel__text h2 {
  opacity: 1;
}

.feature-panel--image:hover .feature-panel__text {
  visibility: visible;
}

.feature-panel--image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.feature-panel:hover {
  background-color: $color-accent;
}

.feature-panel--image:hover {
  background-color: transparent;
}
