@import 'mixins';

.positions {
  width: 100%;
}

.position {
  border: 1px solid black;
}

.position__column {
  padding: 10px;

  text-align: center;

  @include mobile {
    font-size: 10px;
  }
}

th app-sort {
  display: inline-block;
}
