@import 'mixins';

$home-profile-picture-size: 300px;
$home-profile-picture-size-mobile: 200px;

.home__feature-panel-container {
  display: flex;
  flex-wrap: wrap;
}

.home__feature-panel-container app-feature-tile {
  display: block;
  flex: 0 50%;
  @include mobile {
    flex: 100%;
  }
}

.home__profile-picture {
  height: $home-profile-picture-size;
  width: $home-profile-picture-size;

  @include mobile {
    height: $home-profile-picture-size-mobile;
    width: $home-profile-picture-size-mobile;
  }
}
