<h1 class="main-header main-header--centered">Brycon Carpenter's Personal Portfolio</h1>

<p class="text--centered">
  Welcome to my personal portfolio web application. Here you can find information on my professional career.
  Please feel free to contact me with any questions you might have.
</p>

<div class="home__feature-panel-container">
    <app-feature-tile title="About"></app-feature-tile>
    <app-feature-tile title="Projects"></app-feature-tile>
    <app-feature-tile title="Current Position"></app-feature-tile>
    <app-feature-tile title="Past Positions"></app-feature-tile>
</div>